input {
  margin-top: 0.5rem !important;
}

.btn-capture-element {
  margin-top: 30px!important;
}

.form-elements {
  margin-top: 7px!important;
}

iframe#clientAppIframe {
  border: 0;
  width: 100%;
  height: 73vh;
  overflow: hidden;
}
.mos-t-modal--primary.mos-c-modal--border-top {
  border-top: 2px solid #00a8c8;
  top: 58px;
}

.iframe-popup {
  z-index: 700!important;
}

.event-element-detail {
  border: 1px solid black;
  margin:10px;
  background-color: lightgray;
  padding: 5px;
}

.event-element-detail-label {
  font-weight: 600;
}

.event-element-detail-btnPanel {
  float: right;
  margin: 5px;
}
