$mercer-app-c-section-marker__title-border-left-width: 3px;

.mercer-app-c-section-marker {
  &__title {
    border-left: $mercer-app-c-section-marker__title-border-left-width solid #C4C4C4;
    padding-left: calc(30px - #{$mercer-app-c-section-marker__title-border-left-width});
  }
  &__fields {
    padding: 0 18px;
  }
}