<mercer-header2 [isAuth]="loggedIn">
  <mercer-header-title>
    <a routerLink="/dashboard"><span>MMC&nbsp;</span>Web Analytics</a>
  </mercer-header-title>
  <mercer-header-logged-out>
  </mercer-header-logged-out>
  <mercer-header-dropdown-account>
    <mercer-dropdown position="right">
      <mercer-dropdown-label>
        <a>
          <mercer-icon icon="settings"
            size="xlg"
            alt="Settings"
            theme="primary"></mercer-icon>
        </a>
      </mercer-dropdown-label>
      <mercer-dropdown-item>
        <a routerLink="/clientapp">Applications</a>
      </mercer-dropdown-item>
      <mercer-dropdown-item>
        <a routerLink="/clientappevent">Application Events</a>
      </mercer-dropdown-item>
    </mercer-dropdown>
    <mercer-dropdown position="right">
      <mercer-dropdown-label>
        <a>
          <mercer-icon icon="account_circle"
            size="xlg"
            alt="Account"
            theme="primary"></mercer-icon>
        </a>
      </mercer-dropdown-label>
      <mercer-dropdown-item>
        <mercer-hcard [left]="false"
          [right]="false">
          <mercer-hcard-left>
          </mercer-hcard-left>
          <mercer-hcard-center>
            <div class="vcard" *ngIf="user">
              <h3 class="mos-c-hcard--fn fn">{{user.name}}</h3>
              <!-- 
              <div class="mos-c-hcard__group">
                <h5 class="mos-c-hcard--org org">ACME Corporation</h5>
                <h6 class="mos-o-subheader-5 mos-c-hcard--title title">Sr. Supervisor of Accounts</h6>
              </div>
              -->
            </div>
          </mercer-hcard-center>
          <mercer-hcard-right>
          </mercer-hcard-right>
        </mercer-hcard>
      </mercer-dropdown-item>
      <mercer-dropdown-item>
        <a routerLink="/dashboard">Dashboard</a>
      </mercer-dropdown-item>
      <mercer-dropdown-item>
        <a (click)="logout()">Logout</a>
      </mercer-dropdown-item>
    </mercer-dropdown>
  </mercer-header-dropdown-account>
</mercer-header2>

<!-- 
<mercer-app-navigation-bar [hidden]="(loggedIn$ | async) === false"></mercer-app-navigation-bar>
-->

<main class="mercer-app-c-page-wrapper__main">
  <router-outlet></router-outlet>
</main>

<mercer-footer [brandBar]="true"
  [corpSection]="true"
  [coopSectionLinks]="false">
  <mercer-footer-logo>
    <img class="mos-u-responsive-img"
      src="{{mosConfig.assetUrl}}img/logos/mmc/mmc_logo_rgb.png"
      width="212">
  </mercer-footer-logo>

  <mercer-footer-corp-links>
    <li><a href="#/">Privacy Policy</a></li>
    <li><a href="#/">Cookie Policy</a></li>
    <li><a href="#/">Terms of Use</a></li>
    <li><a href="#/">Acceptable Use</a></li>
  </mercer-footer-corp-links>
</mercer-footer>