.mercer-app-c-page-wrapper {
  &__main {
    min-height: calc(100vh - 202px);
  }
  
  &--with-nav {
    .mercer-app-c-page-wrapper {
      &__main {
        min-height: calc(100vh - 257px);
      }
    }
    
  }
}