<div class="page">
    <h2 class="page-title">Application Events</h2>

    <br />

    <div class="row mos-o-form-row">
        <div class="columns small-3" style="margin-top: 33px;margin-left: 20%;">
            <span style="float: right;">Application</span>
        </div>
        <div class="columns small-6 mos-o-form-input-field">
            <select id="selectedApplication" [(ngModel)]="selectedAppId" (change)="onApplicationSelect($event)">
                <option value="" selected>Select Application</option>
                <option *ngFor="let app of applications" [value]="app._id">{{app.name}}</option>
            </select>
        </div>
        <div class="columns small-3"></div>
    </div>


    <div class="row">
        <div class="columns small-12">
            <button mercer-button type="button" class="top-button-panel" size="sm" iconPosition="left" icon="add"
                [disabled]="!selectedAppId || selectedAppId===''" (click)="openModal('add', null)">ADD</button>
        </div>
    </div>

    <div class="row">
        <div class="columns small-12">
            <!-- header -->
            <div class="row">
                <div class="columns small-2 header-col">Event</div>
                <div class="columns small-3 header-col">Description</div>
                <div class="columns small-2 header-col">Category</div>
                <div class="columns small-3 header-col">Element</div>
                <div class="columns small-2 header-col">Action</div>
            </div>

            <!-- data rows -->
            <div *ngIf="(_appManagementControllerService._currentAppEvents$ | async)?.data?.length>0">
                <div class="row data-row" *ngFor="let appEvent of (_appManagementControllerService._currentAppEvents$ | async)?.data">
                    <div class="columns small-2">
                        <a (click)="onSelection(carrier)">{{appEvent.name}}</a>
                    </div>
                    <div class="columns small-3">
                        <p class="application-url">
                            Type: {{appEvent.type}}
                        </p>

                        <p class="application-url">
                            Page URL: <a class="application-url-link" [href]="appEvent.pageur"
                                target="new">{{appEvent.pageurl}}</a>
                        </p>
                    </div>
                    <div class="columns small-2">
                        {{appEvent.category}}
                    </div>

                    <div class="columns small-3" style="overflow-wrap: break-word;">
                        {{appEvent.element | json}}
                    </div>

                    <div class="columns small-2">
                        <div class="mos-u-display--inline-block">
                            <button mercer-icon-button type="button" icon="mode_edit" alt="Edit" title="Edit"
                                (click)="openModal('edit', appEvent)"></button>
                        </div>
                        <div class="mos-u-display--inline-block">
                            <button mercer-icon-button type="button" icon="delete" alt="Delete" title="Delete"
                                (click)="removeApplicationEvent(appEvent)"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="(_appManagementControllerService._currentAppEvents$ | async)?.data?.length<=0">
                <div class="columns small-12">
                    No record found
                </div>
            </div>

        </div>
    </div>

</div>

<mercer-modal #addEditClientAppEventModal escapable="true" theme="primary">
    <mercer-modal-header>
        <h3 *ngIf="mode==='add'">Add Application Event</h3>
        <h3 *ngIf="mode==='edit'">Edit Application Event</h3>
    </mercer-modal-header>
    <mercer-modal-content contentMaxHeight="500">
        <mmcanalytics-add-clientapp-event *ngIf="mode==='add'" #addClientAppEventForm [application]="selectedApp"
            (onClose)="cancelApplicationEventChanges()">
        </mmcanalytics-add-clientapp-event>

        <mmcanalytics-edit-clientapp-event *ngIf="mode==='edit'" #editClientAppEventForm [appEvent]="selectedAppEvent"
        [application]="selectedApp" (onClose)="cancelApplicationEventChanges()">
        </mmcanalytics-edit-clientapp-event>
    </mercer-modal-content>
    <mercer-modal-footer>
        <div class="row align-right is-collapse-child mos-c-modal__actions">
            <div>
                <button mercer-button expandedOn="small" [flat]="true" size="sm"
                    (click)="cancelApplicationEventChanges()">Cancel</button>
            </div>
            <div>
                <button mercer-button expandedOn="small" [flat]="true" size="sm"
                    (click)="updateApplicationEventDetail()">Save</button>
            </div>
        </div>
    </mercer-modal-footer>
</mercer-modal>

<mercer-modal #eventCaptureModal escapable="true" theme="primary">
    <mercer-modal-header>
        <h3>test</h3>
    </mercer-modal-header>
    <mercer-modal-content contentMaxHeight="500">
        <mercer-pull-quote [media]="true">
            <mercer-pull-quote-media>
                <mercer-icon icon="info_outline" size="xxxlg" theme="primary" alt="Information"></mercer-icon>
            </mercer-pull-quote-media>


        </mercer-pull-quote>

    </mercer-modal-content>
    <mercer-modal-footer>
        <div class="row align-right is-collapse-child mos-c-modal__actions">
            <div>
                <button mercer-button expandedOn="small" [flat]="true" size="sm"
                    (click)="eventCaptureModal.close()">OK</button>
            </div>
        </div>
    </mercer-modal-footer>
</mercer-modal>