<form novalidate [formGroup]="editApplicationEventForm" #inputForm>
    <div class="row">
        <div class="columns small-8">
            <label for="appEventName">Event Name</label>
            <input type="text" name="appEventName" formControlName="appEventName" required class="form-elements"
                placeholder="Please enter event name" title="">
        </div>
        <div class="columns small-4">
            <button mercer-button type="button" size="md" iconPosition="left" class="btn-capture-element"
                (click)="captureEventElement()">Open Target Site</button>
        </div>
    </div>

    <div class="row">
        <div class="columns small-12">
            <label for="appEventCategory">Event Category</label>
            <input type="text" name="appEventCategory" formControlName="appEventCategory" class="form-elements"
                placeholder="Please enter event category like product, client, etc." title="">
        </div>
    </div>

    <div class="row">
        <div class="columns small-12">
            <label for="appEventPageURL">Event Page URL</label>
            <input type="text" name="appEventPageURL" formControlName="appEventPageURL" class="form-elements"
                placeholder="Please enter page URL from where event to capture" title="">
        </div>
    </div>

    <div class="row">
        <div class="columns small-12">
            <label for="appEventType">Type</label>
            <select name="appEventType" formControlName="appEventType" class="form-elements">
                <option value="click" selected>Click</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="columns small-12">
            <label for="devEventElement">Element</label>
            <textarea class="mos-u-resize--vertical" type="text" name="appEventElement" class="form-elements"
                formControlName="appEventElement"></textarea>


        </div>
    </div>


</form>


<mercer-modal #eventElementWindow escapable="true" size="lg" iconType="error" backdropCloses="false" theme="primary"
    themeBorderTop="58">
    <div id="eventElementDetail" class="event-element-detail">
        <div class="row">
            <div class="columns small-12">
                <span class="event-element-detail-label">Page URL:</span>
                {{capturedEvent.pageurl}}
            </div>
        </div>
        <div class="row">
            <div class="columns small-12">
                <span class="event-element-detail-label">Event Type:</span>
                {{capturedEvent.type}}
            </div>
        </div>
        <div class="row">
            <div class="columns small-12">
                <span class="event-element-detail-label">Event Element:</span>
                {{capturedEvent.element | json}}
            </div>
        </div>
        <div class="row">
            <div class="columns small-12">
                <button mercer-button type="button" size="sm" iconPosition="left" class="event-element-detail-btnPanel"
                    (click)="eventElementWindow.close()">Cancel</button>
                <button mercer-button type="button" size="sm" iconPosition="left" class="event-element-detail-btnPanel"
                    (click)="setCaptureEventElement()">OK</button>
            </div>
        </div>
    </div>
    <div id="eventElementPopup" *ngIf="clientAppUrl" class="iframe-popup">
        <iframe id="clientAppIframe" name="clientAppIframe" [src]="clientAppUrl">Loading...</iframe>
    </div>
</mercer-modal>
