input {
  margin-top: 0.5rem !important;
}

.btn-owners {
  float: right;
}

.application-owners-list {
  -webkit-columns: 3;
  -moz-columns: 3;
  columns: 3;
  list-style-type: none;
  display: contents;
}
