<form novalidate [formGroup]="addApplicationForm" #inputForm>
    <div class="row">
        <div class="columns small-12">
            <label for="textInputItem">Application Name</label>
            <input type="text" name="applicationName" formControlName="applicationName" required
                placeholder="Please enter application name" title="">
        </div>
    </div>

    <div class="row">
        <div class="columns small-12">
            <label for="textInputItem">Description</label>
            <textarea class="mos-u-resize--vertical" type="text" name="applicationDesc"
                formControlName="applicationDesc" placeholder="Please enter some detail about application" title="">
        </textarea>
        </div>
    </div>

    <div class="row">
        <div class="columns small-12">
            <label for="textInputItem">URL</label>
            <input type="text" name="applicationURL" formControlName="applicationURL" required
                placeholder="Please enter application url to validate events" title="">
        </div>
    </div>

    <div class="row">
        <div class="columns small-12">
            <label for="textInputItem">Owners</label>

            <button mercer-button type="button" size="sm" class="btn-owners"
                (click)="openColleagueDirectory(colleaguedirectory)">
                Select Owner(s)
            </button>

            <ul class="application-owners-list">
                <li *ngFor="let owner of selectedOwners">
                    <mercer-chip class="mos-u-spacer--margin-right-md" [isRemovable]="true"
                        (click)="removeOwner(owner)">
                        {{owner.fname}} {{owner.lname}}
                    </mercer-chip>
                </li>
            </ul>


        </div>
    </div>
</form>

<mercer-modal #colleaguedirectory escapable="true" size="lg" theme="primary">
    <mercer-modal-header>
        <span style="font-size: 24px;font-weight: 600;line-height: 33px;color: #000000;">
            Select Owner(s)
        </span>
        <span
            style="display:block;font-size: 12px;	font-weight: 600;letter-spacing: 1.8px;line-height: 19px;color: #404040;">
            You can select more than one owner for a document.
        </span>

    </mercer-modal-header>
    <mercer-modal-content contentMaxHeight="400">
        <mercer-colleague-directory (onsave)="updateOwner($event, colleaguedirectory)"></mercer-colleague-directory>
    </mercer-modal-content>
    <mercer-modal-footer>
    </mercer-modal-footer>
</mercer-modal>