<div class="mmc-analytics-scatter-charts" style="display: block;">
  <canvas baseChart width="200" height="150"
  [datasets]="scatterChartData"
  [options]="scatterChartOptions"
  [chartType]="scatterChartType">
  </canvas>
</div>
