<div *ngIf="hidden === false" class="mercer-app-c-navigation-bar mos-u-grid-full-width">
  <div class="align-self-middle">
    <mercer-breadcrumb [isSubNav]="true" [data]="breadcrumbData" [wrapperMargin]="false" [sectionLinkNavigation]="sectionLinkNavigation" [isFullWidth]="true"></mercer-breadcrumb>
  </div>
</div>
