<h4 *ngIf="title" [innerHTML]="title"></h4>
<p [innerHTML]="message"></p>
<mercer-toast-button *ngIf="!showCloseButton && showButton">
  <button mercer-button
    size="sm"
    theme="success"
    [flat]="true"
    [innerHTML]="buttonTitle"
    (click)="buttonCallback()">
  </button>
</mercer-toast-button>
