<div class="mmc-analytics-bar-charts" style="display: block;">
  <canvas baseChart width="200" height="150"
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [chartType]="barChartType">
  </canvas>
</div>
