.mercer-app-c-drag-handle {
  display: block;
  width: 15px;
  position: relative;
  border-right: 1px solid #DEDEDE;
  cursor: move;

  &__handle {
    cursor: move;
    position: absolute;
    transform: translate(-50%, -50%);
    top: calc(50% - 2px);
    left: 50%;
  }
}