<div class="page">
    <h2 class="page-title">Application Registration</h2>

    <br />

    <div class="row">
        <div class="columns small-12">
            <button mercer-button type="button" class="top-button-panel" size="sm" iconPosition="left" icon="add"
                (click)="openModal('add', null)">ADD</button>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="columns small-12">
            <!-- header -->
            <div class="row">
                <div class="columns small-3 header-col">Application</div>
                <div class="columns small-3 header-col">Description</div>
                <div class="columns small-3 header-col">Owners</div>
                <div class="columns small-3 header-col">Action</div>
            </div>

            <!-- data rows -->
            <div *ngIf="(_appManagementControllerService._allApps$ | async)?.data?.length>0">
                <div class="row data-row" *ngFor="let app of (_appManagementControllerService._allApps$ | async)?.data">
                    <div class="columns small-3">
                        <a (click)="onSelection(carrier)">{{app.name}}</a>
                    </div>
                    <div class="columns small-3">
                        {{app.description}}
                        <p class="application-url">
                            URL: <a class="application-url-link" [href]="app.url" target="new">{{app.url}}</a>
                        </p>
                    </div>
                    <div class="columns small-3">
                        <span *ngIf="app.owners.length>0" class="application-owner">
                            {{app.owners[0].email}} &nbsp;
                            <span *ngIf="app.owners.length>1">+{{app.owners.length-1}}</span>
                        </span>

                    </div>
                    <div class="columns small-3">
                        <div class="mos-u-display--inline-block">
                            <button mercer-icon-button type="button" icon="code" alt="code" title="Client Script"
                                (click)="showApplicationIntegrationScript(app)"></button>
                        </div>
                        <div class="mos-u-display--inline-block">
                            <button mercer-icon-button type="button" icon="dashboard" alt="Events"
                                title="Events" (click)="openApplicationEvents(app)"></button>
                        </div>
                        <div class="mos-u-display--inline-block">
                            <button mercer-icon-button type="button" icon="mode_edit" alt="Edit" title="Edit"
                                (click)="openModal('edit', app)"></button>
                        </div>
                        <div class="mos-u-display--inline-block">
                            <button mercer-icon-button type="button" icon="delete" alt="Delete" title="Delete"
                                (click)="removeApplication(app)"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="(_appManagementControllerService._allApps$ | async)?.data?.length<=0">
                <div class="columns small-12">
                    No record found
                </div>
            </div>

        </div>
    </div>

</div>

<mercer-modal #addEditClientAppModal escapable="true" theme="primary">
    <mercer-modal-header>
        <h3 *ngIf="mode==='add'">Register Application</h3>
        <h3 *ngIf="mode==='edit'">Edit Application Details</h3>
    </mercer-modal-header>
    <mercer-modal-content contentMaxHeight="500">
        <mmcanalytics-add-clientapp *ngIf="mode==='add'" #addClientAppForm (onClose)="cancelApplicationChanges()">
        </mmcanalytics-add-clientapp>

        <mmcanalytics-edit-clientapp *ngIf="mode==='edit'" #editClientAppForm [application]="selectedApp"
            (onClose)="cancelApplicationChanges()">
        </mmcanalytics-edit-clientapp>
    </mercer-modal-content>
    <mercer-modal-footer>
        <div class="row align-right is-collapse-child mos-c-modal__actions">
            <div>
                <button mercer-button expandedOn="small" [flat]="true" size="sm"
                    (click)="cancelApplicationChanges()">Cancel</button>
            </div>
            <div>
                <button mercer-button expandedOn="small" [flat]="true" size="sm"
                    (click)="updateApplicationDetail()">Save</button>
            </div>
        </div>
    </mercer-modal-footer>
</mercer-modal>

<mercer-modal #readOnlyInfoClientAppModal *ngIf="appInfo" escapable="true" theme="primary">
    <mercer-modal-header>
        <h3>{{appInfo.title}}</h3>
    </mercer-modal-header>
    <mercer-modal-content contentMaxHeight="500">
        <mercer-pull-quote [media]="true">
            <mercer-pull-quote-media>
                <mercer-icon icon="info_outline" size="xxxlg" theme="primary" alt="Information"></mercer-icon>
            </mercer-pull-quote-media>
            <p class="application-integration-helptext-header">{{appInfo.headertext}}</p>
            <div class="application-integration-script" #infoDiv>
                <p class="application-integration-script-line" *ngFor="let conentLine of appInfo.content">{{conentLine}}</p>
            </div>
            <p class="application-integration-helptext-footer">{{appInfo.footertext}}</p>

        </mercer-pull-quote>

    </mercer-modal-content>
    <mercer-modal-footer>
        <div class="row align-right is-collapse-child mos-c-modal__actions">
            <div>
                <button mercer-button expandedOn="small" [flat]="true" size="sm"
                    (click)="readOnlyInfoClientAppModal.close()">OK</button>
            </div>
        </div>
    </mercer-modal-footer>
</mercer-modal>