.page {
  margin-top: 20px;
  margin-bottom: 50px;
}

.page-title {
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 2rem;
  /*letter-spacing: 2px; */
  background-color: #005c96;
  padding: 10px;
  color: white;
}

.header-col {
  background-color: #002c77;
  padding: 5px;
  color: white;
  border: 1px solid white;
}

div.data-row:nth-child(even) {
  background-color: #f2f2f2;
}

.top-button-panel {
  float: right;
}

.application-url {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  font-weight: 600;
}

.application-url-link {
  font-style: italic;
  color: blue;
  cursor: pointer;
}

.application-owner {
  text-transform: lowercase;
}

.application-integration-script {
  font-size: 1rem;
  background-color: #f4f2f2;
}

.application-integration-helptext-header {
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 20px;
}

.application-integration-helptext-footer {
  font-size: 1.1rem;
  margin-top: 10px;
  margin-bottom: 20px;
  color: darkred;
}
