@import 'merceros';

.mapp-c-login {
  margin: 50px auto 0 auto;

  @include breakpoint(medium) {
    width: 700px;
  }

  mercer-login {
    mercer-card {
      mercer-card-header {
        border-radius: 4px 4px 0 0;
        background: url(assets/images/top-02.png) 0 0 no-repeat;
        background-size: cover;
      }
    }
  }

  &__header {
    padding: 0 0 20px;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    h2 {
      margin: 30px 0 25px;
      font-size: rem-calc(36);
      line-height: rem-calc(24);
    }
    hr {
      width: 70px;
      height: 3px;
      background-color: mm-color(turquoise, 400);
    }
  }
}
