<div class="row mapp-c-login">
  <div class="column">
    <mercer-login (bypassedLogin)="onLogin($event)">
      <div class="mapp-c-login__header">
        <h2>MMC Web Analytics</h2>
        <hr />
        <p>Sign in with your Mercer Single Sign On account</p>
      </div>
    </mercer-login>
  
  </div>
</div>
