<div class="mmc-analytics-radar-charts" style="display: block;">
  <canvas baseChart width="200" height="150"
  [datasets]="radarChartData"
  [options]="radarChartOptions"
  [labels]="radarChartLabels"
  [chartType]="radarChartType">
  </canvas>
</div>
