<mercer-toast
  #appToast
  [theme]="(_appToastOptions$ | async)?.type"
  [showCloseButton]="true"
  [dismissAfter]="5000"
  locationY="top"
  locationX="center"
  [autoDismiss]="(_appToastOptions$ | async)?.autoDismiss"
  id="toast-outlet"
>
  <h4 *ngIf="(_appToastOptions$ | async)?.title" id="toast-outlet_title">
    {{ (_appToastOptions$ | async).title }}
  </h4>
  <p
    id="toast-outlet_message"
    [innerHTML]="(_appToastOptions$ | async)?.message"
  ></p>
</mercer-toast>
