<mercer-modal-header>
  <h3>Custom Session Timeout Warning</h3>
</mercer-modal-header>
<mercer-modal-content>
  <div>
    Your session will expire in:
  </div>
  <div class="mos-u-spacer--padding-top-lg mos-u-spacer--padding-bottom-lg">
    <mercer-icon icon="schedule" size="xlg" theme="secondary" alt="Clock"></mercer-icon>
    <span class="mos-u-color-text--secondary mos-u-text-size--lg mos-u-font-weight--medium mos-u-spacer--padding-left-md mos-u-vertical-align--middle">
      {{ minuteConvert((timer | async) / 60) }} mins {{(timer | async) % 60 }} secs
    </span>
  </div>
  <div>
    Please select 'Continue' to stay logged in or select 'Log out' to end your session now.
  </div>
</mercer-modal-content>
<mercer-modal-footer>
  <div class="row align-right is-collapse-child mos-c-modal__actions">
    <button mercer-button expandedOn="small" [flat]="true" size="md" (click)="logout()">Log Out</button>
    <button mercer-button expandedOn="small" size="md" (click)="continue()">Continue</button>
  </div>
</mercer-modal-footer>
