<div>
  <div class="row align-center mos-u-spacer--padding-top-xxxlg mos-u-spacer--padding-bottom-xxxlg">
    <div class="columns small-12 medium-6">
      You have been logged out!
    </div>
  </div>
</div>
