:host {
  display: block;
}
.colleague-directory-page {
  /*
  position: absolute;
  top: 0;
  left: 70px;
  right: 0;
  bottom: 0;
  overflow: auto;
  // background: rgb(27,65,89);
  //  background: rgb(28,61,83) ;
  // text-align: center;
  // color: #fff;
  padding: 0.5em;
*/
  .rounded-btn {
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: #00a8c8;
    background: white;
    border: 2px solid lightgrey;
    font-size: 16px;
    padding: 10px;
    /*height: 100px; */
    /* line-height: 60px; */
    margin-right: 10px;
    white-space: nowrap;
  }

  .rounded-btn:hover,
  .rounded-btn:focus,
  .rounded-btn:active,
  .rounded-btn:visited {
    color: rgb(42, 208, 241);
    border: 2px solid lightgrey;
    outline: none;
  }

  h1 {
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 36px;
    small {
      color: rgba(255, 255, 255, 0.7);
    }
  }

  li:nth-of-type(odd) {
    background-color: #e9e9f9;
  }

  .no-record-found {
    color: #00a8c8;
  }

  .loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left: 50%;
    margin-top: 20px;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .btn-search {
    margin-top: 6px;
  }

  .btn-save-cancel {
    margin: 10px;
  }
}
