<div class="colleague-directory-page" [@routerTransition]>

  <!-- 
  <div class="row" style="max-width:100%!important;">
    <div class="columns small-5 mos-o-form-input-field" style="text-align: left;">
      <input id="firstname" type="text" name="firstname" [(ngModel)]="firstname"
        placeholder="Enter starting characters of first name to search..." title="" (keyup)="searchColleague($event)">
      <label for="firstname">First Name</label>
    </div>
    <div class="columns small-5 mos-o-form-input-field" style="text-align: left;">
      <input id="lastname" type="text" name="lastname" [(ngModel)]="lastname"
        placeholder="Enter starting characters of last name to search..." title="" (keyup)="searchColleague($event)">
      <label for="lastname">Last Name</label>
    </div>
    <div class="columns small-2" style="text-align: left;">
      <button mercer-button type="button" (click)="searchColleague($event)">Search</button>
    </div>
  </div>
  -->

  
  <div class="row" style="max-width:100%!important;">
    <div class="columns small-10 mos-o-form-input-field" style="text-align: left;">
      <input id="fullname" type="text" name="fullname" [(ngModel)]="fullname"
        placeholder="Enter characters of name to search..." title="" (keyup)="searchColleagueContains($event)">
      <!-- <label for="fullname">Name</label> -->
    </div>
    <div class="columns small-2" style="text-align: left;">
      <button mercer-button type="button" class="btn-search" (click)="searchColleagueContains($event)">Search</button>
    </div>
  </div>
  


  <div class="row" style="max-width:100%!important;">
    <div class="columns small-12" style="text-align: left;margin-left:0px;">
      <mercer-chip *ngFor="let colleague of selectedColleagues" style="margin: 10px;" [isRemovable]="true"
        (click)="removeColleague(colleague)">
        <mercer-icon theme="primary" size="md" icon="person"></mercer-icon>
        {{colleague.fname}} {{colleague.lname}}
      </mercer-chip>
    </div>
  </div>

  <br />

  <div class="row" style="max-width:100%!important;">
    <div class="columns small-12" style="text-align: left;">
      <div style="max-height:400px; overflow-y: auto;border: 2px solid black;" *ngIf="searchResults.length>0">
        <ul
          style="list-style: none!important;margin-left: 0px!important;padding: 10px!important;">
          <li *ngFor="let colleague of searchResults">
            <input id="{{colleague.email}}" type="checkbox" name="{{colleague.email}}"
              value="{{colleague.fname + '|' + colleague.lname + '|' + colleague.email}}" title=""
              (change)="onChecked($event)">
            <label for="{{colleague.email}}">
              <span style="display:inline-block;width:200px;">{{colleague.fname}} {{colleague.lname}}</span>
              <span style="margin-left:10px;">{{colleague.email}}</span>
            </label>

          </li>
        </ul>
      </div>
      <div class="no-record-found" *ngIf="searchClicked && searchResults.length==0">
        No record found
      </div>
      <div class="loader" *ngIf="loading">
      </div>
    </div>
  </div>

  <div class="row" style="max-width:100%!important;margin-top:30px;">
    <div class="columns small-12" style="text-align: right;margin-left:0px;">
      <button mercer-button type="button" class="btn-save-cancel" (click)="cancel()">Cancel</button>
      <button mercer-button type="button" class="btn-save-cancel" (click)="save()">Save</button>
    </div>
  </div>

</div>