.inline-cards {
  display: flex;
}

.top-button-panel {
  float: right;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.chart-settings-label {
  padding: 5px;
  cursor: pointer;
  font-size: small;
  color: #00adff;
}
