<div class="mercer-app-c-dashboard">
  <div
    class="mercer-app-c-dashboard__search mos-u-large-spacer--padding-top-xxlg mos-u-large-spacer--padding-bottom-xxlg">

    <div class="row">
      <div class="columns small-12">
        <button mercer-button type="button" class="top-button-panel" size="sm" iconPosition="left" icon="folder"
          (click)="clientAppRegistration()">Manage Applications</button>
      </div>
    </div>

    <div class="row mos-o-form-row">
      <div class="columns small-3" style="margin-top: 33px;margin-left: 20%;">
        <span style="float: right;">Application</span>
      </div>
      <div class="columns small-6 mos-o-form-input-field">
        <select id="selectedApplication" [(ngModel)]="selectedAppId" (change)="onApplicationSelect($event)">
          <option value="" selected>Select Application</option>
          <option *ngFor="let app of applications" [value]="app._id">{{app.name}}</option>
        </select>
      </div>
      <div class="columns small-3"></div>
    </div>

    <div class="mos-u-grid-max-width inline-cards">

      <div class="columns small-4">
        <mercer-dropdown  style="float: right;">
          <mercer-dropdown-label>
            <button mercer-icon-button type="button" icon="more_vert" alt="More"></button>
          </mercer-dropdown-label>
          <mercer-dropdown-item>
            <span class="chart-settings-label">Set Event Category</span>
          </mercer-dropdown-item>
          <mercer-dropdown-item>
            <span class="chart-settings-label">Set Dataseries</span>
          </mercer-dropdown-item>
        </mercer-dropdown>

        <mmc-analytics-line-chart [X_ChartLabels]="lineChartLabels" [Y_ChartData]="lineChartData"></mmc-analytics-line-chart>
      </div>

      <div class="columns small-4">
        <mercer-dropdown style="float: right;">
          <mercer-dropdown-label>
            <button mercer-icon-button type="button" icon="more_vert" alt="More"></button>
          </mercer-dropdown-label>
          <mercer-dropdown-item>
            <span class="chart-settings-label">Set Event Category</span>
          </mercer-dropdown-item>
          <mercer-dropdown-item>
            <span class="chart-settings-label">Set Dataseries</span>
          </mercer-dropdown-item>
        </mercer-dropdown>

        <mmc-analytics-pie-chart [ChartLabels]="pieChartLabels"  [ChartData]="pieChartData"></mmc-analytics-pie-chart>
      </div>

      <div class="columns small-4">
        <mercer-dropdown style="float: right;">
          <mercer-dropdown-label>
            <button mercer-icon-button type="button" icon="more_vert" alt="More"></button>
          </mercer-dropdown-label>
          <mercer-dropdown-item>
            <span class="chart-settings-label">Set Event Category</span>
          </mercer-dropdown-item>
          <mercer-dropdown-item>
            <span class="chart-settings-label">Set Dataseries</span>
          </mercer-dropdown-item>
        </mercer-dropdown>

        <mmc-analytics-bar-chart [ChartLabels]="barChartLabels"  [ChartData]="barChartData"></mmc-analytics-bar-chart>
      </div>


    </div>
  </div>


  <div class="mercer-app-c-dashboard__schemes mos-u-grid-max-width">
  </div>

</div>