<div class="mmc-analytics-pie-charts" style="display: block;" *ngIf="pieChartLabels.length>0 && pieChartData.length>0">
  <canvas baseChart width="200" height="150"
  [data]="pieChartData" 
  [labels]="pieChartLabels" 
  [chartType]="pieChartType"
  [options]="pieChartOptions"
  [plugins]="pieChartPlugins"
  [legend]="pieChartLegend">
  </canvas>
</div>
