<mercer-toast
  #appToast
  [theme]="appToastOptions.type || 'info-light'"
  [showCloseButton]="true"
  [dismissAfter]="5000"
  locationY="top"
  locationX="center"
  [autoDismiss]="appToastOptions?.autoDismiss">
  <h4 *ngIf="appToastOptions.title">{{ appToastOptions.title }}</h4>
  <p>{{ appToastOptions.message }}</p>
</mercer-toast>
